@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Breeds

<h4>Add a new animal</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.AnimalName)
    @Html.TextBoxFor(model => model.AnimalName)
    @Html.LabelFor(model => model.Gender)
    @Html.TextBoxFor(model => model.Gender)
    @Html.LabelFor(model => model.Date)
    @Html.TextBoxFor(model => model.Date)
    <input type="submit" value="Add new animal" />
}
<p>@Html.ActionLink("Show all animals", "Index")</p> 